.header {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-variant: small-caps;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls{
    display: flex;
    padding-right: 10px;
    border-style:double;
    border-color:black;
    border-radius: 12px;
    background-color:lemonchiffon;
    width:150px;
    height: 150px;
    color:black;
}
.gridbody {
    display: inline-block;
    border-radius: 8px;
    width: 700px;
    background-color: cornflowerblue;
    height: 700px;
    border-style: double;
    margin-left: 15px;
    flex-flow: wrap;

}
.inner-box {
    display:inline-block;
    width: 38px;
    height: 38px;

    border-radius: 0px;
    background-color: white;
    border-color: black;
    border-style: double;
    color: blueviolet;
}
